body{
    background-color: #0c0c0c;
}

.jumbotron{
    align-content: center;
    text-align: center;
    background-image: url("/images/maincover1.jpg") !important;
    background-position: center;
height: 8cm;
}

.card{
    background-color: #181819;
    margin-top: 1CM !important;
    color: #565656;
}

a.btn.btn-primary {
    background-color: #673AB7;
    border-color: #ad8aea;
    align-content: center;
    display: block;
}